.form-control{
    width: 200px;
}

.jumbotron p{
    font-weight: normal;
    font-size: 14px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.map {
    height:420px;
    width:800px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}

.mapBoxView {
    width:200px;
    min-height:150px;
    overflow-x:hidden;
    overflow-y:hidden;
}

.mapBoxImage {
    width: 90%;
}

.mapBoxContent {
    margin-top:3px;
    margin-bottom:3px;
}