<div class="jumbotron">
    <h2>{{restaurant.name}}</h2>
    Betyg: {{restaurant.rating}}<br/>
    {{restaurant.message}}<br/>
    Adress: <a data-ng-href="position/{{restaurant.position.id}}">{{restaurant.position.address}}</a>
    <hr/>
    Spana in de taggar som den här restaurangen tillhör:
    <div ng-repeat="tag in tags">
        <td><a data-ng-href="tag/{{tag.id}}">{{tag.name}}</a></td>
        <td><button ng-show="$root.isLoggedIn" type="button" ng-click="restaurantsCtrl.removeRestaurant(restaurant.id)">Remove restaurant</button></td>
    </div>
</div>
